<section id="ojk">
  <div class="container">
    <div class="row justify-content-md-center pt-5">
      <div class="col-sm-3">
        <blockquote class="blockquote">
          <p class="mb-0">
            <strong>Saham Rakyat dari INDONESIA </strong> Sekuritas Indonesia
            terdaftar dan diawasi oleh
          </p>
        </blockquote>
      </div>
      <div class="col-sm-2">
        <img src="../../../../assets/images/ojk.png" alt="" width="250px" />
      </div>
    </div>
  </div>
</section>
