<section class="promo">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../../assets/images/shield.svg" alt="" width="300px" />
      </div>
      <div class="col-sm-8">
        <div class="row d-flex m-5">
          <div class="col-8 col-sm-12">
            <h1>Daftar 100% Online Tanpa Minimum Deposit</h1>
            <p>
              <em>
                Akun rekening kamu akan diproses secara digital tanpa perlu
                mengirim dokumen fisik.
              </em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
