<section id="article">
  <div class="container">
    <div class="row text-center">
      <h1>#BACAANRAKYAT</h1>
      <div class="col-md-6">
        <div class="card mb-3">
          <img
            src="../../../assets/images/article1.jpeg"
            class="card-img-top"
            height="250px"
            alt="article1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Saham yang Sukses Kasih Cuan Paling Jumbo
            </h5>
            <p class="card-text">
              Indeks Harga Saham Gabungan (IHSG) ditutup menghijau pada
              perdagangan Selasa (30/8/2022) kemarin, setelah sehari sebelumnya
              ditutup melemah karena investor merespons negatif dari pernyataan
              ketua bank sentral Amerika Serikat (AS). Menurut data dari Bursa
              Efek Indonesia (BEI), indeks bursa...
              <a routerLink="/article/1">
                <button class="btn btn-warning">Selengkapnya</button></a
              >
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Terahir di update 10 jam yang lalu</small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <img
            src="../../../assets/images/article2.jpg"
            class="card-img-top"
            height="250px"
            alt="article1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Saham BAUT Mendadak Bangkit Dari Level Gocapan, Apa Sebabnya?
            </h5>
            <p class="card-text">
              Saham emitern produsen mur dan baut, PT MITRA ANGKASA SEJAHTERA.
              sempat mengalami rebound setelah tertidur di posisi Rp40 per saham
              sejak Mei 2022. Direktur Utama Mitra Angkasa Sejahtera, Simon
              Hendiawan ...

              <a
                href="https://market.bisnis.com/read/20220831/7/1572444/saham-baut-mendadak-bangkit-dari-level-gocapan-apa-sebabnya"
                target="_blank"
              >
                <button class="btn btn-warning">Selengkapnya</button></a
              >
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Terahir di update 10 jam yang lalu</small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <img
            src="../../../assets/images/article1.jpeg"
            class="card-img-top"
            height="250px"
            alt="article1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Saham yang Sukses Kasih Cuan Paling Jumbo
            </h5>
            <p class="card-text">
              Indeks Harga Saham Gabungan (IHSG) ditutup menghijau pada
              perdagangan Selasa (30/8/2022) kemarin, setelah sehari sebelumnya
              ditutup melemah karena investor merespons negatif dari pernyataan
              ketua bank sentral Amerika Serikat (AS). Menurut data dari Bursa
              Efek Indonesia (BEI), indeks bursa...
              <a
                href="https://www.cnbcindonesia.com/market/20220830235134-17-367908/ini-saham-yang-sukses-kasih-cuan-paling-jumbo"
                target="_blank"
              >
                <button class="btn btn-warning">Selengkapnya</button></a
              >
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Terahir di update 10 jam yang lalu</small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <img
            src="../../../assets/images/article1.jpeg"
            class="card-img-top"
            height="250px"
            alt="article1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Saham yang Sukses Kasih Cuan Paling Jumbo
            </h5>
            <p class="card-text">
              Indeks Harga Saham Gabungan (IHSG) ditutup menghijau pada
              perdagangan Selasa (30/8/2022) kemarin, setelah sehari sebelumnya
              ditutup melemah karena investor merespons negatif dari pernyataan
              ketua bank sentral Amerika Serikat (AS). Menurut data dari Bursa
              Efek Indonesia (BEI), indeks bursa ...
              <a
                href="https://www.cnbcindonesia.com/market/20220830235134-17-367908/ini-saham-yang-sukses-kasih-cuan-paling-jumbo"
                target="_blank"
              >
                <button class="btn btn-warning">Selengkapnya</button></a
              >
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Terahir di update 10 jam yang lalu</small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <img
            src="../../../assets/images/article1.jpeg"
            class="card-img-top"
            height="250px"
            alt="article1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Saham yang Sukses Kasih Cuan Paling Jumbo
            </h5>
            <p class="card-text">
              Indeks Harga Saham Gabungan (IHSG) ditutup menghijau pada
              perdagangan Selasa (30/8/2022) kemarin, setelah sehari sebelumnya
              ditutup melemah karena investor merespons negatif dari pernyataan
              ketua bank sentral Amerika Serikat (AS). Menurut data dari Bursa
              Efek Indonesia (BEI), indeks bursa...
              <a
                href="https://www.cnbcindonesia.com/market/20220830235134-17-367908/ini-saham-yang-sukses-kasih-cuan-paling-jumbo"
                target="_blank"
              >
                <button class="btn btn-warning">Selengkapnya</button></a
              >
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Terahir di update 10 jam yang lalu</small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <img
            src="../../../assets/images/article1.jpeg"
            class="card-img-top"
            height="250px"
            alt="article1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Saham yang Sukses Kasih Cuan Paling Jumbo
            </h5>
            <p class="card-text">
              Indeks Harga Saham Gabungan (IHSG) ditutup menghijau pada
              perdagangan Selasa (30/8/2022) kemarin, setelah sehari sebelumnya
              ditutup melemah karena investor merespons negatif dari pernyataan
              ketua bank sentral Amerika Serikat (AS). Menurut data dari Bursa
              Efek Indonesia (BEI), indeks bursa ...
              <a
                href="https://www.cnbcindonesia.com/market/20220830235134-17-367908/ini-saham-yang-sukses-kasih-cuan-paling-jumbo"
                target="_blank"
              >
                <button class="btn btn-warning">Selengkapnya</button></a
              >
            </p>
            <p class="card-text">
              <small class="text-muted"
                >Terahir di update 10 jam yang lalu</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
