<section id="about">
  <div class="container text-center">
    <div class="row">
      <h1 class="display-1"><strong>Tetang Kami</strong></h1>
    </div>
    <div class="row p-5">
      <p>
        rangkat dari kecintaan Kaesang Pangarep dan Kevin Hendrawan terhadap
        pasar modal, Agustus 2020 didirikanlah Saham Rakyat sebagai sebuah
        komunitas saham. Berdirinya Saham Rakyat begitu ditanggapi baik oleh
        berbagai kalangan di Indonesia, sehingga seiring dengan perkembangan
        yang begitu pesat dan signifikan, di awal tahun 2022 Saham Rakyat by
        Samuel Sekuritas bertransformasi menjadi sebuah platform “Belanja Saham”
        pertama di Indonesia! <br />
        <br />
        Saham Rakyat by Samuel Sekuritas mengajak seluruh Rakyat Indonesia untuk
        mulai “Belanja Saham” dengan berbagai kemudahan yang ditawarkan. Sudah
        saatnya seluruh Rakyat Indonesia terbuka terhadap Investasi Saham.
        <br />
        <br />
        PT Samuel Sekuritas Indonesia telah berdiri sejak tahun 1992. Dengan
        lebih dari 30 tahun pengalaman di Pasar Modal Indonesia, Samuel
        Sekuritas merupakan partner Warga Cuan yang terpercaya, resmi dan
        berizin OJK
      </p>
    </div>
  </div>
</section>
