.container {
  padding-top: 100px;
}

h1 {
  color: red;
}

p {
  text-align: center;
  color: #666;
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  // font-size: x-large;
  // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  //   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
